<html>
<body>
	<h1>Shto lajm</h1>
	<form>
        <label for="title">Id Lajmi:</label>
		<input type="text" id="title" name="title" placeholder="Shkruaj Id e ketij lajmi...">

		<label for="title">Titulli:</label>
		<input type="text" id="title" name="title" placeholder="Shkruaj titullin...">

		<label for="content">Permbajtja:</label>
		<textarea id="content" name="content" placeholder="Shkruaj permbajtjen e lajmit..."></textarea>

		<label for="date">Data:</label>
		<input type="date" id="date" name="date">

		<input type="submit" value="Shto">
	</form>
</body>
</html>
