<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compitable " content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale= 1.0" />
    <link rel="stylesheet" type="text/css" href="index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Add Movie </title>
</head>

<body>
    <div class="header">
        <h5> Movie</h5>
    </div>
    <div class="upper-btn-box upper">
        <div class="btn-left-box">
            <button class="add"><i class="fa fa-plus"></i>Add Movie </button>
            <button style="background-color: red;" class="clear"><i class="fa fa-clear"></i>Clear Movie</button>
        </div>
        <div class="btn-right-box search">
            <input type="text" id="movId" placeholder="Type here">
            <i class="fa fa-search  "></i>
        </div>
    </div>
    <div class="table-box">
        <table>
            <tr>
                <th>Sr No</th>
                <th>Movie Id</th>
                <th>Title</th>
                <th>Director</th>
                <th>Release Date</th>
                <th>Genre</th>

            </tr>
            <tr>
                <td>1</td>
                <td>2345</td>
                <td>The Notebook</td>
                <td>Nick Cassavetes</td>
                <td>2004</td>
                <td>Drame/Romance</td>
                <td>
                    <button><i class="fa fa-edit"></i>Edit</button>
                    <button style="background-color: red;"><i class="fa fa-trash"></i>Trash</button>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>