<main class="main">
  <h2>User</h2>
  <table class="table">
    <thead>
     <h1 *ngIf="!isResultLoaded">Loading.................</h1>

    <tr>
        <th scope="col">ID</th>
        <th scope="col">Email</th>
        <th scope="col">Username</th>
        <th scope="col">Time</th>
        <th scope="col">Option</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let UserItem of UserArray">

        <th scope="row">{{UserItem.id  }}</th>
        <td>{{UserItem.email}}</td>
        <td>{{UserItem.username }}</td>
        <td>{{UserItem.created_at  }}</td>
        <button type="button" class="btn btn-danger" (click)="setDelete(UserItem)">Delete</button>
        <td>
          <!-- <button type="button" class="btn btn-success"  routerLink="/edit/{{NewsItem.id}}" >Edit</button> -->
        </td>
      </tr>
    </tbody>
  </table>
</main>

