<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th, td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
      }

      th {
        background-color: #202fd4;
        color: white;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>

    <h2>Lista e përdoruesve</h2>

    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Emri</th>
          <th>Mbiemri</th>
          <th>Email</th>
          <th>Data e regjistrimit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
          <td>2023-05-07</td>
        </tr>
        
      </tbody>
    </table>

  </body>
</html>