<html>
  <body class="user">
    <h2>Lista e përdoruesve</h2>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>Username</th>
          <th>Data e regjistrimit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let UserItem of UserArray">
          <td>{{UserItem.id  }}</td>
          <td>{{UserItem.email}}</td>
          <td>{{UserItem.username }}</td>
          <td>{{UserItem.created_at  }}</td>
        </tr>

      </tbody>
    </table>

  </body>
</html>
