<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
    <i class="fas fa-bars"></i>
    </button>
    <div class="navbar1">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Movie</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/favoritemovie" routerLinkActive="active">My Movies</a>
        </li> -->
        <li class="nav-item">
          <a  class="nav-link active" aria-current="page" routerLink="/watchlater" routerLinkActive="active">Generes</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link active" aria-current="page" routerLink="login" routerLinkActive="active" (click)="login()" *ngIf="!loggin">Login</a>
        </li>
        <!-- <li class="nav-item">
          <a  class="nav-link active" aria-current="page" routerLink="login" routerLinkActive="active" (click)="logout()" *ngIf="loggin">LogOut</a>
        </li> -->
      </ul>
    </div>
  </div>
</div>
</nav>
