<!-- <app-navbar></app-navbar> -->
<!-- <app-profile></app-profile> -->
<!-- <app-adminn></app-adminn> -->
<!-- <app-login-form></app-login-form> -->
<!-- <app-news></app-news> -->
<router-outlet></router-outlet>
<!-- <app-homepage></app-homepage> -->
<!-- <app-moviess></app-moviess> -->
<!-- <app-footer></app-footer> -->
<!-- <app-add-news></app-add-news> -->
<!-- <app-showusers></app-showusers> -->
<!-- <app-addmovie></app-addmovie> -->
<!-- <app-provavideo1></app-provavideo1> -->
<!-- <app-profile-user></app-profile-user> -->
<!-- <app-fotoadd></app-fotoadd> -->
<!-- <app-homepageuser></app-homepageuser> -->

