<main>
  <h2>Lajmet</h2>
  <table>
    <thead>
      <tr>
                  <th>Id Lajmi</th>
        <th>Titulli</th>
        <th>Përmbajtja</th>
        <th>Data</th>
        <th>Opsionet</th>
      </tr>
    </thead>
    <tbody>
      <tr>
                  <td>1</td>
        <td>Titulli i lajmit 1</td>
        <td>Permbajtja e lajmit 1</td>
        <td>26/04/2023</td>
        <td>
          <button class="edito">Edito</button>
          <button class="fshi">Fshi</button>
        </td>
      </tr>
      <tr>
                  <td>2</td>
        <td>Titulli i lajmit 2</td>
        <td>Permbajtja e lajmit 2</td>
        <td>26/04/2023</td>
        <td>
          <button class="edito">Edito</button>
          <button class="fshi">Fshi</button>
        </td>
      </tr>
      <tr>
                  <td>3</td>
        <td>Titulli i lajmit 3</td>
        <td>Permbajtja e lajmit 3</td>
        <td>26/04/2023</td>
        <td>
          <button class="edito">Edito</button>
          <button class="fshi">Fshi</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button class="shto">Shto lajm</button>
</main>

