
<main class="main">
  <h2>Lajmet</h2>
  <a routerLink="/shtolajme"><button class="shto">shto</button></a>

  <table class="table">
    <thead>
     <h1 *ngIf="!isResultLoaded">Loading.................</h1>

    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">description</th>
        <th scope="col">Time</th>
        <th scope="col">Option</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let NewsItem of NewsArray">

        <th scope="row">{{NewsItem.id  }}</th>
        <td>{{NewsItem.title  | uppercase}}</td>
        <td>{{NewsItem.descripton }}</td>
        <td>{{NewsItem.updated_at}}</td>


        <td>
          <button type="button" class="btn btn-success"  (click)="setUpdate(NewsItem)" >Edit</button>

          <button type="button" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</main>

