body{
  background-image: url(https://e0.pxfuel.com/wallpapers/225/248/desktop-wallpaper-black-blue-gradient-linear-midnight-blue-000000-191970-30a%C2%B0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* login rtegister wallpaper */
/* https://img.freepik.com/free-vector/round-podium-stage-spotlights-rays-realistic_107791-446.jpg */
