body{
  background-image: url(https://img.freepik.com/free-vector/realistic-film-strip-black-background-vector-illustration_1017-38234.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
